body {
    background-color: black;
}

.dice-cont {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.dice {
    width: 120px;
    height: 120px;
    display: grid;
}
